$font-family: 'Permanent Marker', cursive;

body {
  font-family: $font-family;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  margin-block-start: 2em;
}

.image-button, .rps-icon {
  width: 200px;
  max-width: 30%;
}

.image-button .rps-icon {
  max-width: 100%;
}

.rps-countdown {
  font-size: 8em;
}

.game-result {
  display: flex;
}

.player-score {
  float: left;
}

.opponent-score {
  float: right;
}

@media only screen and (min-width: 1200px) {
  body {
    width: 1127px;
  }
}

@media only screen and (min-width: 992px) and (max-width:1199.98px) {
  body {
    width: 933px;
  }
}

@media only screen and (min-width: 768px) and (max-width:991.98px) {
  body {
    width: 723px;
  }
}

@media only screen and (max-width: 767.98px) {
  body {
    width: auto;
    margin-left: 1em;
    margin-right: 1em
  }

  h1 {
    margin-block-start: 0.67em;
  }
}
